

.Done {
    background-color: green;
    color: white;
}

.InProgress { 
    background-color: orange;
    color: white;
}

.Overdue { 
    background-color: red;
    color: white;
}

.Open { 
    background-color: blue;
    color: white;
}